body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #6a0dad;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  z-index: 2;
}

.buttons button {
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

#gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  z-index: 1;
}
